@import "../bootstrap/css/bootstrap.min.css";

body{
    background-image: linear-gradient(45deg, #121214, #09094b);
    min-height: 100vh;
}

#formulario {
    background-color: #a5a8ff;
    padding: 25px;
    height: 100%;
    border-radius: 11px;
}

#form {
    gap: 1rem;
}

#container-clientes{
   min-height: 200px;
   background-color: white;
}


.form-control {
    border-radius: 11px;
}

.btn {
    border-radius: 11px;
    background-color: #ffff;
    color: black;
}

#header {
    background-color: #0000009c;
    height: 83px;
}

.logo-link {
    width: 200px;   
    height: inherit;

    background: url(/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin: auto;
}

h1 {
    color: aliceblue;
    font-weight: bolder;
}

input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

.table {
    margin: 0;
}

table input {
    box-shadow: none;
    border-radius: 0%;
    margin: 0;
}

.scroll-table {
    height: fit-content;
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 1rem;
}

.add-row {
    background-image: url(/assets/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.add-row:hover, .add-row:focus {
    background-image: url(/assets/add-icon-hover.svg);
}

.rmv-row {
    background-image: url(/assets/trash.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.rmv-row:hover {
    background-image: url(/assets/trash-hover.svg);
}

label {
    margin-bottom: 5px;
    font-weight: bolder;
}

#titulo {
    text-align: center;
    padding: 25px;
}

#medidas {
    margin-bottom: 25px;
    margin-left: 0px;
}


.tr-hover {
    cursor: pointer;
}

.tr-hover:hover {
    filter: contrast(0.8);
}
/* status embarque  */
.sem-status, .nota-fiscal, .registrado, .pago, .embarcado {
    background-repeat: no-repeat;
    background-position: center center;
}

.sem-status {
    background-image: url(/assets/sem-status.svg);
    z-index: 10000000;
}
.nota-fiscal {
    background-image: url(/assets/nota-fiscal.svg);
    z-index: 10000000;
}
.registrado {
    background-image: url(/assets/registrado.svg);
    z-index: 10000000;
}
.pago {
    background-image: url(/assets/pago.svg);
    z-index: 10000000;
}
.embarcado {
    background-image: url(/assets/embarcado.svg);
    z-index: 10000000;
}
